
    <p class="text-9xl text-white lowercase font-bold">
        <%= data.message %>
    </p>

    <%- contentFor('mainas') %>
    <p class="text-white uppercase text-center text-2xl mt-2 font-bold">EJS EXPRESS WGS</p>